In [21]:
import pandas as pd
import numpy as np

In [2]:
future_retail = pd.read_csv('future_retail.csv')

future_wholesale = pd.read_csv('future_wholesale.csv')

In [3]:
future_retail.head()

   Unnamed: 0          ds       yhat
0           0  2023-03-13  51.559167
1           1  2023-03-14  47.100339
2           2  2023-03-15  62.103324
3           3  2023-03-16  58.259559
4           4  2023-03-17  63.378394

In [4]:
future_wholesale.head()

   Unnamed: 0          ds       yhat
0           0  2023-03-13  35.587616
1           1  2023-03-14  19.510643
2           2  2023-03-15  39.210965
3           3  2023-03-16  39.578918
4           4  2023-03-17  45.019039

In [5]:
future_retail = future_retail.drop('Unnamed: 0',axis=1)

future_wholesale = future_wholesale.drop('Unnamed: 0',axis=1)

In [7]:
future_retail = future_retail.rename({'ds':'date','yhat':'retail_pred'},axis=1)

future_wholesale = future_wholesale.rename({'ds':'date','yhat':'wholesale_pred'},axis=1)

In [9]:
future_retail['date'] = pd.to_datetime(future_retail['date'])
future_retail.set_index('date',inplace=True)

future_wholesale['date'] = pd.to_datetime(future_wholesale['date'])
future_wholesale.set_index('date',inplace=True)

In [10]:
future_forecast = future_retail.merge(future_wholesale,left_index=True,right_index=True)

In [19]:
future_forecast[future_forecast['retail_pred']<0]

            retail_pred  wholesale_pred
date
2023-12-25   -16.488986       40.024101

In [22]:
future_forecast['retail_pred'] = np.where(future_forecast['retail_pred']<0,0,future_forecast['retail_pred'])

In [23]:
future_forecast['total_pred'] = future_forecast['retail_pred'] + future_forecast['wholesale_pred']

In [27]:
future_forecast = future_forecast.round()

In [28]:
future_forecast.head()

            retail_pred  wholesale_pred  total_pred
date
2023-03-13         52.0            36.0        87.0
2023-03-14         47.0            20.0        67.0
2023-03-15         62.0            39.0       101.0
2023-03-16         58.0            40.0        98.0
2023-03-17         63.0            45.0       108.0

In [29]:
future_forecast.tail()

            retail_pred  wholesale_pred  total_pred
date
2023-12-27         75.0            57.0       131.0
2023-12-28         70.0            57.0       127.0
2023-12-29         75.0            61.0       136.0
2023-12-30        124.0            42.0       166.0
2023-12-31         28.0            34.0        62.0

In [30]:
future_forecast.to_csv('future_forecast.csv')