In [7]:
import pandas as pd
df=pd.read_csv('data/transaction items.csv')
#creates a new dataframe that includes only retail large plain pita sales and pita sandwiches
df_ws = df.loc[df['Line Item'] == 'Alad. Large Plain WS']
df = df.loc[(df["Line Item"] == 'Alad. Large Plain') | (df['Line Item'] == 'Lunch box special') | (df['Category'] == 'Stuffed Pita Sandwiches')]

#defines a function that takes in a dataframe and returns the number of pita packages sold in a transaction
#each package of pita sold is equivalent to 1 package of pita, while each sandwich is sold is 1/5 of a package of pita
#since there are 5 pitas in a package
def pita_package_count(row):
    if row['Category'] == 'Stuffed Pita Sandwiches' or row['Line Item'] == 'Lunch box special':
        return row['Quantity']/5
    else:
        return row['Quantity']

#create new column that applies the function to retail and wholesale dataframes
df['pita count'] = df.apply(pita_package_count,axis=1)

df_ws['pita count'] = df_ws.apply(pita_package_count,axis=1)

#check to see column was successfully created
df.head(10)


#defines a function that calculates the unit cost of a package of pita
def unit_cost(row):
    if row['Category'] == 'Stuffed Pita Sandwiches' or row['Line Item'] == 'Lunch box special':
        return 0
    else:
        return round(row['Total Due']/row['Quantity'],2)

#create a new column that applies that function to retail and wholesale dataframes
df['unit cost'] = df.apply(unit_cost,axis=1)

df_ws['unit cost'] = df_ws.apply(unit_cost,axis=1)

In [61]:
df[df['pita count']>13].count()

Time                    372
Register Name/Number    372
Cashier Name            372
Operation Type          372
Store Code              372
UPC                     372
Line Item               372
Department              372
Category                372
Supplier                372
Supplier Code             0
Cost                    372
Price                   372
Quantity                372
Modifiers               372
Subtotal                372
Discounts               372
Net Total               372
Tax                     372
Total Due               372
Transaction ID          372
Customer ID             372
pita count              372
unit cost               372
dtype: int64

In [60]:
df_ws[df_ws['pita count']>13].count()/df_ws.count()

Time                    0.780328
Register Name/Number    0.780328
Cashier Name            0.780328
Operation Type          0.780328
Store Code              0.780328
UPC                     0.780328
Line Item               0.780328
Department              0.780328
Category                0.780328
Supplier                0.780328
Supplier Code                NaN
Cost                    0.780328
Price                   0.780328
Quantity                0.780328
Modifiers               0.780328
Subtotal                0.780328
Discounts               0.780328
Net Total               0.780328
Tax                     0.780328
Total Due               0.780328
Transaction ID          0.780328
Customer ID             0.780328
pita count              0.780328
unit cost               0.780328
dtype: float64